<header>
  <p>
    <a href="/">{{ toUpper 'home' }}</a> | 
    <a href="/about">{{ toUpper 'about' }}</a> | 
    <a href="/projects">{{ toUpper 'projects' }}</a>
  </p>
  <h1>{{ pageTitle }}</h1>
</header>